body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: black!important;
  }

  a{
    color: white!important;
  }

  .card-body{
    background-color: #343a40;
    color: white;
  }

  .pagActual{
    color: gray!important;
  }

  .customDiv{
    background-color: #343a40;
  }

  .footerCustom{
    background-color: #343a40;
    color: white;
  }
  
  
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (min-width: 1450px) {
    // .sidebar {
    //   width: 100%;
    //   height: auto;
    //   position: relative;
    //   background-color: #343a40!important;
  
    //   a {
    //     float: left;
    //   }
    // }
  
    // div.content {
    //   margin-left: 0;
    // }

    nav{
      display: none!important;
    }
    .prova{
      margin-left: 11%;
    }
    .main-container{
      display: none!important;
    }

  }

    
  @media screen and (max-width: 1450px) {
    .sidenav{
      display: none;
    }
    
    .prova{
      margin-left: 3%; 
    }
  }
  
  // @media screen and (max-width: 500px) {
  //   .sidebar a {
  //     background-color: #343a40;
  //     text-align: center;
  //     float: none;
  //   }
  // }

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
  }
  
  nav {
    background: #343a40;
    padding: 5px 10px;
  
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: start;
  
      li {
        padding: 7px 0;
        cursor: pointer;
  
        &.items {
          position: relative;
          width: auto;
          margin: 12px;
          text-align: left;
          order: 3;
  
          &:after {
            position: absolute;
            content: '';
            left: 0;
  
            /* bottom: 5px; */
            /* height: 2px; */
            width: 100%;
            background: #33ffff;
            opacity: 0;
            transition: all 0.2s linear;
          }
  
          &:hover:after {
            opacity: 1;
            bottom: 1px;
          }
        }
  
        &.logo {
          flex: 1;
          color: white;
          font-size: 20px;
          font-weight: 100;
          cursor: default;
          user-select: none;
        }
  
        a {
          color: white;
          font-size: 20px;
          text-decoration: none;
          transition: .4s;
        }
  
        &:hover a {
          color: cyan;
        }
  
        i {
          font-size: 23px;
        }
  
        &.btn {
          display: none;
  
          &.hide i:before {
            content: '\f00d';
          }
        }
      }
    }
  }
  
  @media all and (max-width: 900px) {
    nav {
      padding: 5px 30px;
  
      ul li {
        &.items {
          width: 100%;
          display: none;
  
          &.show {
            display: block;
          }
        }
  
        &.btn {
          display: block;
        }
  
        &.items:hover {
          border-radius: 5px;
          box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
  
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }
  
  .navbarCustom {
    padding: 1.1rem 2rem !important;
  }
  
  .logo {
    padding-top: 22px;
    padding-left: 7px;
  }

h1{
  margin-top: 2%;
  color: white;
  margin-bottom: 2%;
}

p{
  color: white;
}

.custom-div{
  margin: 20px;
}
button, .button {
  --button:hsl(0, 1%, 34%);
  --button-hover:hsl(0, 0%, 20%);
  --button-active:hsl(0, 0%, 30%);
  --button-visited:hsl(0, 0%, 20%);
  --button-colour:var(--colour-white);
  --button-border:var(--colour-black);
}

button {
  padding: .9rem 1.7rem;
  color: var(--button-colour);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: var(--button);
  border: solid 1px var(--button-border);
  box-shadow: inset 0 0 0 2px var(--colour-white);
  margin-right: 1em;

  &:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
  }

  &:active {
    background: var(--button-active);
  }

  &:visited {
    background: var(--button-visited);
  }
}

.customDiv2 {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer2 {
  width: 100%;
  background-color: #343a40;
  margin-top: 1.5rem;

  ul {
    padding: 1.25rem;
    text-align: center;
    background-color: #343a40;

    li {
      list-style-type: none;

      /* display: inline-block; */
      margin: 0.25rem 0.75rem;
      background-color: #343a40;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  flex-shrink: 0;
  position: absolute;
  left: 0;
  // bottom: 0;
  height: 100px;
  width: 100%;
}

.customDiv3 {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 6%;
  font-size: 20px;
  margin-bottom: 2%;
  background-color: #343a40;
  border-style: none !important;
}

.customDiv4 {
  display: flex;
  text-align: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #343a40;
  line-height: 1.5;
  border-style: none !important;
}

.customDiv3 p {
  margin-left: 22%;
}

.hr2 {
  height: 1px;
  background-color: #232527;
  border: none;
}

.marginDiv {
  background-color: #343a40;
  padding-top: 8%;
  border-style: none !important;
}

.marginDiv2 {
  background-color: #343a40;
  padding-bottom: 8%;
  border-style: none !important;
}

.marginDiv3 {
  background-color: #343a40;
  padding-top: 4%;
  border-style: none !important;
}

.pCustom {
  font-size: 20px;
  font-weight: 500;
}

.customDiv5 {
  display: flex;
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin-bottom: 2%;
  background-color: #343a40;
  border-style: none !important;

  p {
    padding-left: 18%;
    padding-bottom: 15%;
  }
}

/* grid */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* GRID STYLES */

.header {
  display: grid;
  grid-template-columns: 0vw 1fr 10fr 1fr 0vw;
  grid-template-rows: 70px auto;
  align-items: center;
  background-color: #343a40;
}

.logo {
  grid-column: 2;
  margin-left: 35px;
  margin-bottom: 20px;

  a {
    font-size: 20px;
  }
}

.main-nav {
  background-color: #343a40;
  grid-column: 3;
}

.hamburger {
  grid-column: 4;
  justify-self: end;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.fa-bars {
  font-size: 1.4em;
}

.logo img {
  display: block;
  height: 70px;
}

.main-nav {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .main-nav {
    grid-row: 2;
    grid-column: 2 / 5;
    background-color: #343a40;

    ul {
      grid-template-columns: 1fr;
      height: calc(30vh - 30px);
      margin-left: 40px;
      margin-top: 10px;

      a {
        color: #fff;
        font-size: 20px;
      }
    }
  }
}

.imgButoGrid {
  margin-right: 25px;
}

/* footer grid */

.footerGrid {
  grid-row-start: 2;
  grid-row-end: 3;
  background: #343a40;
  color: white;
  padding: 20px;
}


.sidenav {
  height: 100%;
  width:10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 20px;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

    &:hover {
      color: #f1f1f1;
    }
  }
}

.main {
  margin-left: 160px;

  /* Same as the width of the sidenav */
  font-size: 28px;

  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

// @media screen and (max-height: 450px) {
//   .sidenav {
//     padding-top: 15px;

//     a {
//       font-size: 18px;
//     }
//   }
// }





// 767

@media screen and (min-width: 767px) {
  .footerCustom2{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
}
